default_language_version:
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    - id: check-json
    - id: pretty-format-json
      args: ['--autofix', '--no-ensure-ascii', '--no-sort-keys']
    - id: trailing-whitespace
      exclude: benchmarking
    - id: end-of-file-fixer
      exclude: benchmarking

#  - repo: https://github.com/pocc/pre-commit-hooks
#    rev: v1.3.5
#    hooks:
#      - id: clang-format
#        args: [ '-style=file' ]
#      - id: clang-tidy
#      - id: oclint
#      - id: uncrustify
#      - id: cppcheck
#      - id: cpplint
#      - id: include-what-you-use

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.29.3
    hooks:
      - id: check-github-workflows
  - repo: meta
    hooks:
    - id: check-hooks-apply
    - id: check-useless-excludes

ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: quarterly
  skip: [] # [ include-what-you-use ]
  submodules: false
